@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Upload" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control" />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />
    <button type="submit">Save</button>
</form>
